@font-face {
  font-family: 'AR PL KaitiM GB';
  src: local('Kaiti'), local('Kaiti SC'), local('STKaiti'), local('楷体'), local('SimKai'), local('DFKai-SB'), local('AR PL KaitiM GB'),
       url('https://cdn.jsdelivr.net/gh/flight025/css@main/AR-PL-KaitiM-GB.woff2') format('woff2');
}
.post blockquote, .newsletter blockquote, .home blockquote ,.cn blockquote, .kai, .cn em, .cn .side, .hash-note, .hide-notes .toggle-notes {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, 'AR PL KaitiM GB','STKaiti', 'Roboto Mono','霞鹜文楷等宽', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;
}
blockquote {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino,'AR PL KaitiM GB', 'STKaiti', 'Roboto Mono','霞鹜文楷等宽','KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;
}
code {
  font-family: Consolas, Courier, "Courier New", 'AR PL KaitiM GB','STKaiti','Roboto Mono', 'KaiTi', 'SimKai', monospace;
}
pre, code {
  font-size: .95em;
}
.cn em, .cn .title {
  font-style: normal;
}