<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orb Farm</title>
  <style>
    .iframe-container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 纵横比 */
      height: 0;
      overflow: hidden;
      max-width: 100%;
      background: #000;
    }

    .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }

    .author-link {
      text-align: right;
      margin-top: 10px;
      padding-right: 5%;
    }

    .author-link a {
      font-size: 1rem;
      color: #760411;
      text-decoration: none;
    }

    .author-link a:hover {
      color: #202020;
    }
  </style>
</head>
<body>

<div class="iframe-container">
  <iframe src="https://orb.farm/" frameborder="0" allowfullscreen></iframe>
</div>

<div class="author-link">
  <a href="https://maxbittker.com/" target="_blank">游戏作者网站 - maxbittker.com</a>
</div>

</body>
</html>