/* tags.css */
.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.tags-container .tag-box {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #8b8b8b !important; /* 添加 !important 提高优先级 */
  border-radius: 5px;
  background-color: #f7f7f7 !important; /* 添加 !important */
  color: #333 !important;
  text-decoration: none;
  transition: all 0.3s ease;
}

.tags-container .tag-box:hover {
  background-color: #8b8b8b !important; /* 鼠标悬停效果 */
  color: #fff !important;
  border-color: #5c5c5c !important;
}
